{# Copyright (c) 2021 Mohamed Tawfik <m_tawfik@aucegypt.edu>
#}

# {{ ansible_managed|d("All changes will be lost") }}

#############################################
# syncoid.conf - syncoid global config file #
#############################################

syncoid_snapshot_pool={{ syncoid__snapshot_pool }}

syncoid_snapshot_dataset={{ syncoid__snapshot_dataset }}

syncoid_user={{ syncoid__user }}
